.reds {
    margin: 5px 5px;
}
.redness {
    display: block;
    padding: 5px;
    background-color: hsl(359 99% 55% / 0.75);
}

.darker-redness {
    display: block;
    padding: 5px;
    background-color: hsl(359 99% 40% / 75%);
}

.darkest-redness {
    display: block;
    padding: 5px;
    background-color: hsl(359 99% 25% / 75%);
}

.lch {
    display: block;
    background-color: lch(50% 132 43);
}

.p3 {
    display: block;
    background-color: rgb(0 255 0);
    background-color: color(display-p3 0 1 0);
}