:root {
    --MainFont: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/*
@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "RubikPixels";
    src: url("../fonts/RubikPixels-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: fallback;
}
*/

@font-face {
    font-family: "Inter-Variable";
    src: url("../fonts/Inter.var.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-display: fallback;
    font-style: oblique 0deg 10deg;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    transition: all 0.35s;
    font-size: 1.2em;
    font-family: "sans-serif";
    font-family: var(--MainFont);
    font-weight: 400;
}

@supports (font-variation-settings: "wdth" 200) {
    body {
        font-family: "Inter-Variable";
        font-variation-settings: "wght" 300, "slnt" -4;
        font-feature-settings: "cv08", "cv05";
    }
}
