@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "RubikPixels";
    src: url("../fonts/RubikPixels-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: fallback;
}

span {
    font-family: "RubikPixels", sans-serif;
    font-size: 3rem;
    color: blue;
    background-color: darkgray;
    display: flex;
}