.linear-gradient {
    background: linear-gradient(to top right, red -10%, blue);
    display: grid;
    height: 10rem;
}

.color-stops {
    margin: 1rem;
    height: 10rem;
    display: grid;
    background: linear-gradient(
        #4a8197 0%,
        #4a8197 2%,
        #244d5d 2%,
        #0b2a39 50%,
        #244d5d 98%,
        #4a8197 98%,
        #4a8197 100%
    );
}

.radial-gradient {
    background: radial-gradient(
        farthest-side circle at bottom, yellow, orange, red);
    height: 10rem;
    width: 400px;
}

.radial-gradiant-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: hsl(348, 8%, 24%);
}